{{>partials/header}}


<form action="/auth/cadastro" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    
    <label for="senha">Senha:</label>
    <input type="password" name="senha" required>
    
    <button type="submit">Cadastrar</button>
</form>
{{>partials/footer}}